body{
  background-color: #222;
}
.App {
  text-align: center;
  background-color: #222;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.field {
  margin-bottom: 10px;
  display:flex;
  width:47.4%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133)
  ;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  background-color:transparent;
  border-bottom:3px solid #FFF;
  color:  #999999;
  font-size:20px;
  font-family:Courier, monospace;
  height:20px;
  font-weight:bold;
  text-align: center;
  text-transform: uppercase;
  width: 80px;
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}
.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
}
.list-item{
  margin-top: -10px;
  border-radius: 30px;
  width: 650px;
  height: 50px;
  background-color: white;
  opacity: 0.8;
}
h4{
  color: black;
  font-family:Courier, monospace;
  font-weight:normal;
  text-transform: uppercase;
  text-align: left;
}
h1{
  margin-top: -60px;
  color: white;
}

.todoList{
  display: flex;
  background-color: red;
}

.item-list{
    margin-top: 10px;
    width:450px;
    height: 400px;
  	overflow:auto;
  	background-color:#FFF;
  	color:#222;
    font-family:Courier, monospace;
    font-weight:normal;
    font-size:24px;
    resize:none;
  	padding-left:100px;
  	padding-right:100px;
  	padding-top:45px;
  	padding-bottom:34px;
  	-webkit-border-radius:12px;
  	border-radius:12px;
  	-webkit-box-shadow: 0px 2px 14px #000;
  	box-shadow: 0px 2px 14px #000;
  	border-top:1px solid #FFF;
  	border-bottom:1px solid #FFF;
}
#myUL{
  margin-left: 5px;
  margin-top: 2px;
  width: 650px;
  color: black;
  font-family:Courier, monospace;
  font-weight:normal;
  text-transform: uppercase;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {

  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}


ul li:hover {
  background: #ddd;
}


ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}


ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


.btnRemove{
  cursor: pointer;
  height: 30px;
  float: right;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
}

.btnRemoves{
  cursor: pointer;
  height: 30px;
  float: right;
  background-color: red;
  color:white;
  border:none;
}
.item-left{
  padding-top: 5px;
  padding-bottom: 5px;
  font-family:Courier, monospace;
  font-weight:normal;
  margin-left: 5px;
  width: 650px;
  background-color: white;
}
label {
  font-size: 1.3em;
}

input[type=checkbox]:checked + label {
  color:red;
  text-decoration: line-through;
}

#cbox3 {
  text-decoration: line-through;
}
